[Unit]
Description=Group synchronization service for GitLab
After=gitlab-runsvdir.service
BindsTo=gitlab-runsvdir.service

[Service]
ExecStart=/usr/local/bin/gitlab-groupsync
ExecStop=-/usr/bin/curl -s localhost:61714/quit
ExecReload=/usr/bin/curl -s localhost:61714/sync
#Restart=always

[Install]
WantedBy=gitlab-runsvdir.service
